<!-- General Alerts -->
<div id="general-alert-danger" class="alert alert-danger">
   <i class="uicon-warning"></i>
   <span id="general-error-message"></span>
</div>

<!-- Required Field Alerts -->
<div id="required-alert-danger" class="col-md-12 col-sm-12 col-xs-12 alert alert-danger">
	<i class="uicon-warning"></i>Please enter the required fields.
</div>

<!-- Change Password Alerts -->
<div id="password-alert-danger" class="col-md-12 col-sm-12 col-xs-12 alert alert-danger">
	<i class="uicon-warning"></i>The was a problem updating your password.  Please try again, or contact help@ulink.io.
</div>
<div id="password-alert-success" class="col-md-12 col-sm-12 col-xs-12 alert alert-success">
	<i class="uicon-check"></i>Your password was updated.
</div>

<!-- Profile Alerts -->
<div id="profile-alert-danger" class="col-md-12 col-sm-12 col-xs-12 alert alert-danger">
	<i class="uicon-warning"></i>The was a problem saving your profile.  Please try again, or contact help@ulink.io.
</div>
<div id="profile-alert-success" class="col-md-12 col-sm-12 col-xs-12 alert alert-success">
	<i class="uicon-check"></i>Your profile was updated.
</div>

<!-- Reset Password Alerts -->
<div id="reset-alert-danger" class="col-md-12 col-sm-12 col-xs-12 alert alert-danger">
	<i class="uicon-warning"></i>The was a problem resetting your password.  Please try again, or contact help@ulink.io.
</div>
<div id="reset-alert-success" class="col-md-12 col-sm-12 col-xs-12 alert alert-success">
	<i class="uicon-check"></i>Your password was reset.  Please check your email for additional instructions.
</div>

<!-- Login Alerts -->
<div id="login-alert-danger" class="alert alert-danger">
   <i class="uicon-warning"></i>
   <span id="login-error-message"></span>
</div>

<!-- Signup Alerts -->
<div id="signup-alert-success" class="col-md-12 col-sm-12 col-xs-12 alert alert-success">
	<i class="uicon-check"></i>Your new account has been successfully created.  A confirmation has been sent to the email address you have provided.  Please click the link in the email to complete your account activation.  See you on the other side. 
</div>
<div id="signup-alert-danger" class="alert alert-danger">
   <i class="uicon-warning"></i>
   <span id="signup-error-message"></span>
</div>

<!-- Event Alerts -->
<div id="event-alert-success" class="col-md-12 col-sm-12 col-xs-12 alert alert-success">
	<i class="uicon-check"></i>Your event has been submitted. Please check back later to see if your event has been approved.
</div>
<div id="event-alert-danger" class="alert alert-danger">
   <i class="uicon-warning"></i>
   <span id="event-error-message"></span>
</div>

<!-- Snapshot Alerts -->
<div id="snapshot-alert-success" class="col-md-12 col-sm-12 col-xs-12 alert alert-success">
	<i class="uicon-check"></i>Your snap has been submitted and shared with your college.
</div>
<div id="snapshot-alert-danger" class="alert alert-danger">
   <i class="uicon-warning"></i>
   <span id="snapshot-error-message"></span>
</div>

<!-- Suggestion Alerts -->
<div id="suggestion-alert-success" class="col-md-12 col-sm-12 col-xs-12 alert alert-success">
	<i class="uicon-check"></i>Your suggestion has been submitted. Please check back with us 
	to see if your school has been added.       
</div>