<div id="password-alert-danger" class="col-md-12 col-sm-12 col-xs-12 alert alert-danger">
	<i class="uicon-warning"></i>The was a problem updating your password.  Please try again, or contact help@theulink.com.
</div>
<div id="password-alert-success" class="col-md-12 col-sm-12 col-xs-12 alert alert-success">
	<i class="uicon-check"></i>Your password was updated.
</div>
<div id="profile-alert-danger" class="col-md-12 col-sm-12 col-xs-12 alert alert-danger">
	<i class="uicon-warning"></i>The was a problem saving your profile.  Please try again, or contact help@theulink.com.
</div>
<div id="profile-alert-success" class="col-md-12 col-sm-12 col-xs-12 alert alert-success">
	<i class="uicon-check"></i>Your profile was updated.
</div>
<div id="required-alert-danger" class="col-md-12 col-sm-12 col-xs-12 alert alert-danger">
	<i class="uicon-warning"></i>Please enter the required fields.
</div>