<nav class="navbar navbar-inverse ulink-subnav navbar-events-subnav navbar-fixed-top">
	<ul class="nav navbar-nav">
  	<li class="page-title">Events</li>
		<li><a href="#"><i class="uicon-plus"></i> Event</a></li>
	</ul>
</nav>
<div class="row">
{{#each}}
  <div><h3>{{title}}</h3>
      {{description}}
  </div>
{{/each}}
</div>