<nav class="navbar navbar-inverse ulink-subnav navbar-events-subnav navbar-fixed-top">
	<ul class="nav navbar-nav">
  	{{#link-to 'events' tagName="li" classNames="page-title"}}Events{{/link-to}}
		<li>{{#link-to 'events.new'}}<i class="uicon-plus"></i> Event{{/link-to}}</li>
	</ul>
</nav>
{{outlet}}