<nav class="navbar navbar-inverse ulink-subnav navbar-events-subnav navbar-fixed-top">
	<ul class="nav navbar-nav">
  	<li class="page-title">Events</li>
		<li><a href="#"><i class="uicon-plus"></i> Event</a></li>
	</ul>
</nav>
{{#each}}
	{{view App.EventListItemView contentBinding="this"}}
{{/each}}