<nav class="navbar navbar-inverse ulink-subnav navbar-snapshots-subnav navbar-fixed-top">
	<ul class="nav navbar-nav">
		{{#link-to 'snapshots' tagName="li" classNames="page-title"}}Snapshots{{/link-to}}
		<li>{{#link-to 'snapshots.new'}}<i class="uicon-plus"></i> Snapshot{{/link-to}}</li>
	</ul>
</nav>
{{outlet}}