<div class="photo-display-item col-md-4 col-sm-4">
	<div class="hover-target">
		<div class="thumb">
			<span class="photo_container">
					<img {{bind-attr src=mediumImageURL}} border="0"/>
			</span>
			<div class="meta">
					<div class="title">
						{{{caption}}}
					</div>
					<div class="attribution-block">
						<span class="attribution">
							<span>by {{user.username}}</span>
						</span>
					</div>
					<span class="inline-icons">
					</span>
			</div><!-- /.meta -->
		</div><!--/.thumb -->
	</div><!-- /.hover-target-->
</div><!-- /.photo-display-item -->