<div class="container">
<div class="well">
<h1>Terms of Use Agreement</h1>
<div>
    <h2>Read This Terms of Use Agreement Before Accessing Website.</h2>
    <br>
    <p class="tip"><span class="label label-primary">Effective Date</span> This Terms of Use Agreement was last updated on Jan 19, 2014.</p>
    <p>This Terms of Use Agreement sets forth the standards of use of the uLink, Inc. Online Service. By using
        the www.ulink.io website you (the Member) agree to these terms and conditions. If you do not agree
        to the terms and conditions of this agreement, you should immediately cease all usage of this website.
        We reserve the right, at any time, to modify, alter, or update the terms and conditions of this
        agreement without prior notice. Modifications shall become effective immediately upon being posted at
        ulink.io website. Your continued use of the website after amendments are posted constitutes an
        acknowledgement and acceptance of the Agreement and its modifications. Except as provided in this
        paragraph, this Agreement may not be amended.</p>
    <ol>
        <li><h6>Description of Service</h6>
            <p>uLink, Inc. is providing Member with blogging entertainment. Member must provide (1) all
                equipment necessary for their own Internet connection, including computer and modem and (2)
                provide for Member access to the Internet, and (3) pay any fees relate with such
                connection. </p></li>
        <li><h6>Content</h6>
            <p>This Web Site and any communications service, including the capability to contribute material
                through the submission form or any other direct service that may be available to you on or
                through this site (collectively, the Services) are provided to you for entertainment purposes
                only. By participating in this Web Site, including the posting of content and comments, you
                agree that you will not upload, post, or otherwise transmit or make available any content
                (including text, links, communications, software, images, sounds, data, or other information)
                that:
                <br/><br/>
                Is not consistent with the permissible uses outlined by these Terms and Conditions, including,
                but not limited to, content that is false, inaccurate, defamatory, libelous, invasive of another
                privacy, embarrassing, vulgar, profane, tortious, misleading, unlawful, harmful, threatening,
                abusive, tortious, harassing, sexually oriented/suggestive/explicit, obscene, racially or
                ethnically offensive or otherwise objectionable; Violates Intentionally or unintentionally any
                applicable local, state, national or international laws, third party rights, or infringes on any
                patent, trademark, trade secret, copyright, or other proprietary rights of any party;
                Constitutes advertising or promotion, junk mail, spamming, chain letters, or any other form of
                unauthorized solicitation; Contains software viruses, Trojan horses, malware, worms, time bombs,
                cancelbots or any other malicious computer code or files that are designed to disrupt, damage,
                or limit the functioning of any software or hardware; Impersonates any person or entity,
                including, but not limited to, a uLink, Inc. official, or falsely state or otherwise
                misrepresent your affiliation with a person or entity; Forges any TCP-IP packet header; Attacks
                or insults another the Site user or site official; Suggests or supports any illegal activity;
            </p></li>

        <li><h6>Disclaimer of Warranties.</h6>

            <p>The site is provided by uLink, Inc. on an as is and on an as available basis. To the fullest
                extent permitted by applicable law, uLink, Inc. makes no representations or warranties of any
                kind, express or implied, regarding the use or the results of this web site in terms of its
                correctness, accuracy, reliability, or otherwise. uLink, Inc. shall have no liability for any
                interruptions in the use of this Website. uLink, Inc. disclaims all warranties with regard to
                the information provided, including the implied warranties of merchantability and fitness for a
                particular purpose, and non-infringement. Some jurisdictions do not allow the exclusion of
                implied warranties, therefore the above-referenced exclusion is inapplicable.</p></li>

        <li><h6>Limitation of Liability</h6>

            <p> uLink, Inc. SHALL NOT BE LIABLE FOR ANY DAMAGES WHATSOEVER, AND IN PARTICULAR ULINK, INC. SHALL
                NOT BE LIABLE FOR ANY SPECIAL, INDIRECT, CONSEQUENTIAL, OR INCIDENTAL DAMAGES, OR DAMAGES FOR
                LOST PROFITS, LOSS OF REVENUE, OR LOSS OF USE, ARISING OUT OF OR RELATED TO THIS WEB SITE OR THE
                INFORMATION CONTAINED IN IT, WHETHER SUCH DAMAGES ARISE IN CONTRACT, NEGLIGENCE, TORT, UNDER
                STATUTE, IN EQUITY, AT LAW, OR OTHERWISE, EVEN IF uLink, Inc. HAS BEEN ADVISED OF THE
                POSSIBILITY OF SUCH DAMAGES. SOME JURISDICTIONS DO NOT ALLOW FOR THE LIMITATION OR EXCLUSION OF
                LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, THEREFORE SOME OF THE ABOVE LIMITATIONS IS
                INAPPLICABLE. </P></LI>

        <li><h6>Indemnification</h6>

            <p>Member agrees to indemnify and hold uLink, Inc. its parents, subsidiaries, affiliates, officers
                and employees, harmless from any claim or demand, including reasonable attorneys' fees and
                costs, made by any third party due to or arising out of Member's use of the Service, the
                violation of this Agreement, or infringement by Member, or other user of the Service using
                Member's computer, of any intellectual property or any other right of any person or entity. </p>
        </li>

        <li><h6>Modifications and Interruption to Service</h6>

            <p> uLink, Inc. reserves the right to modify or discontinue the Service with or without notice to
                the Member. ulink.io reserves the right to remove comments and submissions at any time
                without prior notice to the end user. By submitting to any section of the website, you
                automatically grant, and you represent and warrant that you have the right to grant to uLink,
                Inc. the authorizations stipulated in the present article. uLink, Inc. shall not be liable to
                Member or any third party should uLink, Inc. exercise its right to modify or discontinue the
                Service. Member acknowledges and accepts that uLink, Inc. does not guarantee continuous,
                uninterrupted or secure access to our website and operation of our website may be interfered
                with or adversely affected by numerous factors or circumstances outside of our control.</p></li>

        <li><h6>Third-Party Sites</h6>

            <p>Our website may include links to other sites on the Internet that are owned and operated by
                online merchants and other third parties. You acknowledge that we are not responsible for the
                availability of, or the content located on or through, any third-party site. You should contact
                the site administrator or webmaster for those third-party sites if you have any concerns
                regarding such links or the content located on such sites. Your use of those third-party sites
                is subject to the terms of use and privacy policies of each site, and we are not responsible
                therein. We encourage all Members to review said privacy policies of third-parties sites.</p>
        </li>

        <li><h6>Governing Jurisdiction of the Courts Virginia</h6>

            <p>Our website is operated and provided in the State of Virginia As such, we are subject to the laws
                of the State Virginia, and such laws will govern this Terms of Use, without giving effect to any
                choice of law rules. We make no representation that our website or other services are
                appropriate, legal or available for use in other locations. Accordingly, if you choose to access
                our site you agree to do so subject to the internal laws of the State Virginia.</p></li>

        <li><h6>Compliance with Laws.</h6>

            <p>Member assumes all knowledge of applicable law and is responsible for compliance with any such
                laws. Member may not use the Service in any way that violates applicable state, federal, or
                international laws, regulations or other government requirements. Member further agrees not to
                transmit any material that encourages conduct that could constitute a criminal offense, give
                rise to civil liability or otherwise violate any applicable local, state, national, or
                international law or regulation. </p></li>

        <li><h6>Other Terms</h6>

            <p>If any provision of this Terms of Use Agreement shall be unlawful, void or unenforceable for any
                reason, the other provisions (and any partially-enforceable provision) shall not be affected
                thereby and shall remain valid and enforceable to the maximum possible extent. You agree that
                this Terms of Use Agreement and any other agreements referenced herein may be assigned by uLink,
                Inc., in our sole discretion, to a third party in the event of a merger or acquisition. This
                Terms of Use Agreement shall apply in addition to, and shall not be superseded by, any other
                written agreement between us in relation to your participation as a Member. Member agrees that
                by accepting this Terms of Use Agreement, Member is consenting to the use and disclosure of
                their personally identifiable information and other practices described in our Privacy Policy
                Statement[if applicable].</li>
    </ol>

    <p>These Services are operated and provided by uLink Inc. If you have any questions about these Terms, please contact <a href="mailto:legal@ulink.io">legal@ulink.io</a>.</p>
        </div>
    </div>
</div>